html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carbon-fibre {
    background-color: black;
    background-image: url(/images/diamond_swatch_dark.png);
    background-size: 20px;
    background-repeat: repeat;
}

.container-1200 {
    max-width: 1200px;
}

.console-font {
    font-family: monospace;
}

.download-btn {
    border: 1px solid #0dcaf0;
    border-radius: 8px;
    padding: 3px 10px;
    color: #0dcaf0;
}

footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: auto;
    height: 80px;
}