html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    margin-top: 60px;
}

/****************************/
/*** navbar section start ***/
/****************************/

nav {
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;
}

.nav-link-text {
    color: rgba(13, 202, 240, 0.9) !important;  
}

.nav-link-text:hover {
    color: rgba(13, 202, 240, 1) !important;
    font-weight: bold;
}

.logo-bold {
    font-weight: bolder;
    color: darkgray;
}

#title-logo-text:hover .logo-bold {
    color: white;
}

#title-logo-text:hover {
    font-weight: bold;
}

.grey-font {
    color: #6c757d;
}

#about:hover .grey-font, #works:hover .grey-font,
#docs:hover .grey-font, #misc:hover .grey-font {
    color: rgba(255, 255, 255, 0.8);
}

#about:hover, #works:hover,
#docs:hover, #misc:hover {
    font-weight: bold;
}

.download-btn {
    border: 1px solid rgba(13, 202, 240, 0.8);
    border-radius: 8px;
    /* color: #0dcaf0; */
    color: rgba(13, 202, 240, 0.8);
    width: auto;
    text-align: center;
    padding: 1px 10px;
}

.download-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: 1px solid rgba(13, 202, 240, 1);
}

/****************************/
/**** content area start ****/
/****************************/

.page-content {
    max-width: 1200px;
}

.carbon-fibre {
    background-color: black;
    background-image: url(/images/diamond_swatch_dark.png);
    background-size: 20px;
    background-repeat: repeat;
}

/****************************/
/*** footer section start ***/
/****************************/

footer {
    /* margin-top: auto; */
    height: 82px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.status-bar {
    display: flex;
    color: grey;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    height: 22px;
    font-size: small;
    padding: 0 20px;
}

.footer-bar {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 60px;
}

.bi-linkedin {
    color: darkcyan;
}

.bi-github {
    color: white;
}

.bi-youtube {
    color: #FF3366;
}

.bi-music-note-beamed {
    color: gray;
}